body {
    background: radial-gradient(#0011ff, #000000);
    color: #fff;

}


* {
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}


.series {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(3, 400px);
    justify-content: center;
    gap: 20px;
    margin: 100px;
    margin-top: 300px;
}

.item {
    cursor: pointer;
    transition: 0.3s;
}





.item :hover {
    transform: scale(1.05);
}

img {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;


}

.menu {
    display: flex;
    width: 100%;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
}

.munu-icono {
    margin-right: 30px;
    margin-left: 30px;
    font-size: 20px;
    cursor: pointer;
}

i {
    color: #1900ff;
}